:root {
    --primary-color: #c3d9e5;
    --secondary-color: #98b9d2;
    --tertiary-color: #2b5e87;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-color);

    @media only screen and (width < 900px) {
        background-color: #ffffff;
    }
}

input {
    appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 4px;
    background: var(--secondary-color);

    &::-webkit-slider-thumb {
        appearance: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--tertiary-color);
        box-shadow:0px 0px 4px 1px rgba(0,0,0,0.2);
        cursor: pointer;
        transition: background-color .2s;
    }
    
    &::-webkit-slider-thumb:hover {
        background-color: #2b6d87;
    }
    
    &:disabled::-webkit-slider-thumb {
        opacity: 1;
        cursor: default;
        background-color: #2b6d87;
    }
    
    &:disabled {
        opacity: 0.6;
    }

    @media only screen and (width < 900px) {
        width: 80%;
    }
}

body,
.image-container,
.controls-container,
.upload-area,
.div-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    position: relative;
    height: 538px;
    aspect-ratio: 16/9;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn .3s ease-out;

    @media only screen and (width < 900px) {
        height: 100%;
        width: 100%;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    }
}

@keyframes fadeIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.image-container,
.controls-container {
    position: absolute;
    height: 100%;
}

.image-container {
    right: 0;
    width: 75%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--secondary-color);

    @media only screen and (width < 900px) {
        top: 0;
        width: 100%;
        height: 500px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.controls-container {
    left: 0;
    width: 25%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #fff;

    @media only screen and (width < 900px) {
        top: 500px;
        width: 100%;
        height: 485px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.upload-area {
    position: absolute;
    flex-direction: column;
    gap: 16px;
    color: var(--tertiary-color);
    padding: 15% 25%;
    border-radius: 6px;
    border: 6px dashed;
    font-size: 20px;
    font-weight: bolder;
    text-wrap: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #ffffff33;
    }
}

.material-symbols-outlined {
    font-size: 80px;
}

.div-image {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.uploaded-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.erase-button,
.reset-button {
    position: absolute;
    bottom: 64px;
    right: 128px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2), 2px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
    display: none;

    &:hover {
        background-color: #3498db;;
    }

    &:active {
        background-color: var(--tertiary-color);
        transform: scale(0.95);
    }
}

.erase-button {
    left: 128px;

    @media only screen and (width < 900px) {
        left: 48px;
    }
}

.reset-button {
    @media only screen and (width < 900px) {
        right: 48px;
    }
}

.button-icon {
    position: absolute;
    top: 17px;
    left: 17px;
    color: #f0f0f0;
    user-select: none;
}

.custom-button {
    top: 9px;
    left: 9px;
    font-size: 56px;
}

.background-title {
    position: absolute;
    top: 0px;
    height: 80px;
    width: 100%;
    border-top-left-radius: 8px;
    background-color: #3498db;

    @media only screen and (width < 900px) {
        border-top-left-radius: 0px;
    }
}

.title {
    position: absolute;
    top: 28px;
    font-size: 24px;
    color: white;
}

.inputs-container {
    position: absolute;
    top: 20%;
    height: 62%;
    width: 84%;
    border: solid #ccc 3px;
    border-radius: 6px;
    background-color: #f0f0f0;

    @media only screen and (width < 900px) {
        top: 120px;
        width: 80%;
        height: 430px;
    }
}

.label,
.value {
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.label {
    left: 8%;
    text-align: left;
    font-weight: 600;
}

.value {
    left: 75%;
}

.download-button {
    position: absolute;
    top: 86.6%;
    padding: 14px 28px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #3498db;
    transition: background-color .2s ease, transform .2s ease, box-shadow .2s ease;

    &:hover {
        background-color: var(--tertiary-color);
        transform: scale(1.05);
        box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
    }
    
    &:active {
        background-color: #3498db;
        transform: scale(0.95);
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    &:disabled {
        background-color: #d3d3d3;
        box-shadow: none;
        color: #a9a9a9;
        cursor: default;
    }
    
    &:disabled:hover {
        background-color: #d3d3d3;
        transform: scale(1);
        color: #a9a9a9;
    }

    @media only screen and (width < 900px) {
        top: 610px;
        margin-bottom: 100px;
        padding: 18px 35px 15px;
        border-radius: 5px;
        font-size: 20px;
    }
}

.footer-mobile {
    display: none;

    @media only screen and (width < 900px) {
        display: block;
        position: absolute;
        top: 730px;
        height: 1px;
        width: 100%;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
  100% {
        opacity: 1;
    }
}

.dark-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    animation: fadeInOut 0.8s ease-out;
}

.modal {
    display: none;
    position: fixed;
    width: 360px;
    height: 350px;
    padding: 0;
    border-radius: 8px;
    font-family: inherit;
    text-align: center;
    color: #3f3f3f;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    animation: fadeInOut 1.2s ease-out;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 64px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #0077c7;
}

.modal-title {
    position: absolute;
    top: 18px;
    left: 59px;
    font-size: 22px;
    color: white;
    z-index: 2;
}

.modal-icon {
    position: absolute;
    top: 80px;
    left: 105px;
    height: 150px;
}

.modal-text {
    position: absolute;
    top: 240px;
    left: 60px;
    font-size: 16px;
    font-weight: bold;
}

.modal-button {
    position: absolute;
    top: 280px;
    left: 126px;
    width: 110px;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #3498db;
    transition: background-color .2s ease, transform .2s ease, box-shadow .2s ease;

    &:hover {
        background-color: #50aeec;
        transform: scale(1.01);
        box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    }
    
    &:active {
        background-color: #3498db;
        transform: scale(0.99);
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.erase-active {
    animation: fadeOut .5s ease-out;
}

@keyframes fadeOut {
    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

#grayscaleRange,
#brightnessRange,
#contrastRange,
#saturateRange {
    position: absolute;
    left: 10%;
}

#grayscaleRange {
    top: 20%;
}

#brightnessRange {
    top: 42%;
}

#contrastRange {
    top: 64%;
}

#saturateRange {
    top: 86%;
}

#grayscaleValue,
#brightnessValue,
#contrastValue,
#saturateValue {
    font-family: inherit;
}

#grayscaleValue,
#grayscaleLabel {
    top: 10%;
}

#brightnessValue,
#brightnessLabel {
    top: 32%;
}

#contrastValue,
#contrastLabel {
    top: 54%;
}

#saturateValue,
#saturateLabel {
    top: 76%;
}

@media only screen and (width < 900px) {
    #grayscaleRange {
        top: 70px;
    }

    #brightnessRange {
        top: 170px;
    }

    #contrastRange {
        top: 270px;
    }

    #saturateRange {
        top: 370px;
    }

    #grayscaleLabel {
        top: 30px;
    }

    #brightnessLabel {
        top: 130px;
    }

    #contrastLabel {
        top: 230px;
    }

    #saturateLabel {
        top: 330px;
    }
    
    #grayscaleValue,
    #brightnessValue,
    #contrastValue,
    #saturateValue {
        left: 80%;
    }

    #grayscaleValue {
        top: 30px;
    }

    #brightnessValue {
        top: 130px;
    }

    #contrastValue {
        top: 230px;
    }

    #saturateValue {
        top: 330px;
    }
}
