:root {
    --background-body: #c3d9e5;
    --background-image: #98b9d2;
    --button: #2b5e87;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-body);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
}

.main-container {
    height: 75%;
    min-height: 480px;
    aspect-ratio: 16/9;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: materializeUp 0.5s ease-out;
}

@keyframes materializeUp {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.image-container {
    position: absolute;
    height: 100%;
    width: 75%;
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--background-image);
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-container {
    position: absolute;
    height: 100%;
    width: 25%;
    left: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    font-size: 40px;
}

.div-image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 28px;
    font-size: 24px;
    color: white;
}

.background-title {
    border-top-left-radius: 8px;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: #3498db;
}

.inputs-container {
    position: absolute;
    top: 20%;
    height: 62%;
    border: solid #ccc 3px;
    background-color: #f0f0f0;
    width: 84%;
    border-radius: 6px;
}

.label {
    position: absolute;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    left: 8%;
    font-weight: 600;
}

.value {
    position: absolute;
    left: 75%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.footer-mobile {
    display: none;
}

.erase-button {
    position: absolute;
    bottom: 50px;
    left: 64px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(32, 88, 255);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    display: none;
}

.reset-button {
    position: absolute;
    bottom: 50px;
    right: 64px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(32, 88, 255);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s;
    display: none;
}

.reset-button:hover,
.erase-button:hover {
    background-color: royalblue;
}

.reset-button:active,
.erase-button:active {
    transform: scale(0.9);
}

.button-icon {
    position: absolute;
    top: 17px;
    left: 17px;
    color: rgb(240, 240, 240);
    user-select: none;
}

.dark-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
    display: none;
    animation: fadeInOut 0.5s ease-out;
}

.modal {
    position: fixed;
    width: 300px;
    height: 390px;
    background-color: white;
    color: rgb(63, 63, 63);
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 0;
    font-weight: bold;
    font-family: inherit;
    display: none;
    animation: fadeInOut 1s ease-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
  100% {
        opacity: 1;
    }
}

.background {
    position: absolute;
    width: 300px;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #0077c7;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.modal-title {
    position: absolute;
    top: 28px;
    left: 26px;
    font-size: 22px;
    color: white;
    z-index: 2;
}

.modal-text {
    position: absolute;
    top: 260px;
    font-size: 16px;
    font-weight: bold;
    left: 30px;
}

.modal-icon {
    position: absolute;
    top: 110px;
    left: 87px;
    font-size: 128px;
    user-select: none;
    color: #2ecc71;
}

.modal-button {
    position: absolute;
    top: 310px;
    left: 91px;
    padding: 14px 28px;
    background-color: var(--button);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
}

.modal-button:hover {
    background-color: royalblue;
}

.modal-button:active {
    background-color: slateblue;
    transform: scale(0.95);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 4px;
    background: var(--background-image);

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--button);
    cursor: pointer;
    box-shadow:0px 0px 4px 1px rgba(0,0,0,0.2);
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #2b6d87;
}

input[type="range"]:disabled::-webkit-slider-thumb {
    opacity: 1;
    cursor: default;
    background: #2b6d87;
}

input[type="range"]:disabled {
    opacity: 0.6;
}

.erase-active {
    animation: materializeDown 0.5s ease-out;
}

@keyframes materializeDown {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

#downloadButton {
    position: absolute;
    top: 86.6%;
    background-color: #3498db;
    color: white;
    padding: 14px 28px 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    transition: background-color .2s ease, transform .2s ease, box-shadow .2s ease;
}

#downloadButton:hover {
    background-color: var(--button);
    transform: scale(1.1);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
}

#downloadButton:active {
    background-color: #3498db;
    transform: scale(0.9);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

#downloadButton:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    box-shadow: none;
    cursor: default;
}

#downloadButton:disabled:hover {
    background-color: #d3d3d3;
    color: #a9a9a9;
    transform: scale(1);
}

#uploadArea {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: var(--button);
    padding: 20% 20%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 4px dashed;
    font-size: 24px;
    text-wrap: nowrap;
}

#uploadedImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#grayscaleRange {
    position: absolute;
    top: 20%;
    left: 10%;
}

#brightnessRange {
    position: absolute;
    top: 42%;
    left: 10%;
}

#contrastRange {
    position: absolute;
    top: 64%;
    left: 10%;
}

#saturateRange {
    position: absolute;
    top: 86%;
    left: 10%;
}

#grayscaleLabel {
    top: 10%;
}

#brightnessLabel {
    top: 32%;
}

#contrastLabel {
    top: 54%;
}

#saturateLabel {
    top: 76%;
}

#grayscaleValue {
    top: 10%;
    font-family: inherit;
}

#brightnessValue {
    top: 32%;
    font-family: inherit;
}

#contrastValue {
    top: 54%;
    font-family: inherit;
}

#saturateValue {
    top: 76%;
    font-family: inherit;
}

@media only screen and (max-width: 900px) {
    body {
        background-color: white;
    }

    .main-container {
        height: 100%;
        width: 100%;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    }

    .image-container {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 75%;
        width: 100%;
        top: 0;
    }

    .controls-container {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        height: 25%;
        width: 100%;
        bottom: 0;
    }

    .background-title {
        border-top-left-radius: 0px;
    }

    .inputs-container {
        top: 120px;
        width: 80%;
        height: 430px;
    }

    .footer-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 730px;
        background-color: var(--background-image);
        height: 1px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .erase-button {
        left: 48px;
    }
    
    .reset-button {
        right: 48px;
    }      

    input[type="range"] {
        width: 80%;
    
    }

    #downloadButton {
        top: 600px;
        margin-bottom: 100px;
        padding: 18px 35px 15px;
        border-radius: 5px;
        font-size: 20px;
    }

    #grayscaleRange {
        position: absolute;
        top: 70px;
    }

    #brightnessRange {
        position: absolute;
        top: 170px;
    }

    #contrastRange {
        position: absolute;
        top: 270px;
    }

    #saturateRange {
        position: absolute;
        top: 370px;
    }

    #grayscaleLabel {
        top: 30px;
    }

    #brightnessLabel {
        top: 130px;
    }

    #contrastLabel {
        top: 230px;
    }

    #saturateLabel {
        top: 330px;
    }
    
    #grayscaleValue {
        top: 30px;
        left: 80%;
    }

    #brightnessValue {
        top: 130px;
        left: 80%;
    }

    #contrastValue {
        top: 230px;
        left: 80%;
    }

    #saturateValue {
        top: 330px;
        left: 80%;
    }
}
